@import "../../../Styles/Helpers/Variables.scss";
@import "../../../Styles/Helpers/Functions.scss";

.add__choice {
  width: 100%;
  height: 10rem;

  @include centered-content;
  button {
    width: 15rem;
    border: $border-btn;
    text-align: center;
    padding: 1rem;
    color: black;
    font-weight: 700;
  }
}

.add__choice--collections:hover,
.add__choice--collections:active,
.add__choice--collections.active {
  background-color: aqua;
}

.add__choice--cars:hover,
.add__choice--cars:active,
.add__choice--cars.active {
  background-color: gold;
}
