@import "Helpers/Variables.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding: $padding-layout--primary;
  border: $border-layout;
  border-radius: $border-radius-primary;
}
