@import "../../../Styles/Helpers/Variables.scss";

.custom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 35%;
  gap: $gap-content--secondary;
}
